{% include directory ~ '/templates/includes/header.html.twig' %}
<section class="mergers">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mergers_cont">
					<h1>Technical Agreements & Merger and Acquisitions</h1>
				</div>
			</div>
		
             <div class="row">
                {{page.content}}
             </div>
		</div>
	</div>
</section>

{% include directory ~ '/templates/includes/footer.html.twig' %}
