<section class="trusted_brands">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="leading_heading">
					<h6>TRUSTED BY LEADING BRANDS</h6>
				</div>
			</div>
			<div class="col-md-12">
				<div class="brands_owl owl-carousel">
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/10/Frame.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/10/Frame-6.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/10/Frame-1.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/10/Frame-7.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/10/Frame-3.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/10/Frame-8.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/10/Frame-2.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/10/Frame-5.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/10/Frame-4.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/10/Frame-9.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/renault-nissan-alliance.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/audi-1.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/AVL.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/simpson.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/Skoda.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/SML-isuZU.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/steelantis.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/Swaraj.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/PSA.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/renault.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/UFI.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/vinfast.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/Volkswagen.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/Volvo.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/yamaha.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/afe.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/AVL-1.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/Avtovaz.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/eicher.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/fiat.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/ford.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/hitachi.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/HWASEUNG.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/honda.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/Komatsu.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/Kobelco.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/john-dheere.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/Eberspacher.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/ISUZI.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/maruti-suzuki.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/Mahle.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/mahindra.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/kuboto.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/nissan.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/new-holland.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/navistar.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/mercedes-benz-.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/maserati.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/bombardier.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/bobcat.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/Porsche.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/PACCAR.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/Cummins.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/Claas.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/chrysler.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/BorgWarner.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/Daimler.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/DAF.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/toyato.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/tata-motors.png" alt="">
							</div>   
						</div>
					</div>
										<div class="item">
						<div class="brands_box">
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/11/AMG.png" alt="">
							</div>  
							<div class="brands_box_img">
								<img src="https://imperialauto.in/wp-content/uploads/2022/10/Frame-11.png" alt="">
							</div>   
						</div>
					</div>
									</div>
			</div>
		</div>
	</div>
</section>